<div class="container">
  <mat-card class="mat-card-invisible">
    <mat-card-content>
      <mat-grid-list cols="4" rowHeight="200px">
        <mat-grid-tile colspan="1" rowspan="2">
          <app-search></app-search>
          <!--  (searchEmitter)="handleSearchData($event)" -->
        </mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="4">
            Details Component Placeholder
          <!-- <app-map [locations]="offices"></app-map> -->
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="3">
            Map Component Placeholder
          <!-- <app-details *ngIf="office" [office]="office"></app-details> -->
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>